.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f4f4;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #2980b9;
}
